/* GENERAL */
body {
	font-family: 'Roboto', Helvetica, Arial, Sans-serif;
	color: #212121;
}
h1, h2, h3, h4 {
	margin: 0;
	font-weight: 400;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn {
	padding: 10px 30px;
	background-color: #E91E63;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #D81B60;
	border-radius: 3px;
}
.btn:hover {
	background-color: #D81B60;
	border-color: #C2185B;
}
.download {
	padding: 10px 30px;
	text-decoration: none;
	color: #FFF;
	background-color: #009688;
	border: 1px solid #00796B;
	background-image: url('../img/download-icon.png');
	background-size: 12px 12px;
	background-position: 5px;
	background-repeat: no-repeat;
}
.download:hover {
	background-color: #00796B;
}
/* NAVIGATION */
#nav-main {
	background-color: #3F51B5;
}
#nav-main > a {
	text-decoration: none;
	color: #FFF;
	font-size: 28px;
	font-weight: 400;
}
#nav-main ul {
	list-style: none;
	padding: 0;
}
#nav-main ul li {
	width: 100%;
	text-align: center;
}
#nav-main ul li a {
	display: inline-block;
	padding: 10px 0;
	text-decoration: none;
	color: #FFF;
}
/* HEADER */
#about {
	padding: 20px;
	color: #FFF;
	background-color: #009688;
}
#about p {
	text-align: center;
	max-width: 800px;
	margin-bottom: 2em;
	line-height: 1.5em;
}
/* RANKINGS */
#rankings {
	padding: 20px;
}
#rankings a {
	margin-top: 2em;
}
.rankings-content {
	width: 100%;
}
/* RANKING */
.ranking {
	max-width: 300px;
	padding: 30px 10px;
	margin-top: 15px;
	background-color: #fff;
	border: 1px solid #cecece;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.ranking:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.ranking h3 {
	font-weight: bold;
}
.ranking h4 {
	margin: 15px 0;
}
.ranking table {
	max-width: 300px;
	text-align: center;
	border-collapse: collapse;
}
.ranking table tr th, td {
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,.12);
}
/* MATCHES */
#matches {
	padding: 20px;
	color: #FFF;
	background-color: #F44336;
}
#matches div {
	max-width: 1000px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}
#matches div a {
	margin: 10px;
}
/* TUTORIALS */
#tutorials {
	padding: 20px;
}
/* RULES */
#rules {
	padding: 20px;
}
/* FOOTER */
footer {
	padding: 20px;
	text-align: center;
	background-color: #3F51B5;
	color: #FFF;
}
/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
	/* NAVIGATION */
	#nav-main {
		flex-direction: row;
		justify-content: space-around;
	}
	#nav-main ul {
		width: 70%;
		flex-direction: row;
	}
	/* HEADER */
	#about {
		height: 70vh;
		justify-content: center;
	}
	/* RANKINGS */
	.rankings-content {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
		max-width: 1000px;
		margin: 0 auto;
	}
	/* RANKING */
	.ranking {
		flex-grow: 1;
	}
	/* MATCHES */
	#matches {
		height: 70vh;
		justify-content: center;
	}
}